.FilteredGames{
width: 300px;
height: 300px;
background-color: rgb(71, 71, 77);
position: absolute;
z-index: 2;
top: 0;
left: 50px;
border-radius: 15px;
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
gap: 10px;
}

.filteredGenresall{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 180px;
}

.filteredRatingall{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.filteredRatingall select{
    width: 180px;
}

.buttonfilteredall button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.GamesContainerfiltered ion-icon{
 color: white;

}

.isDisableFilter{
    display: none;
}

.backfilter{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
}

.backfilterflex{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}
.genresRow{
    display: flex;
}

.not-found{
    margin-bottom: 320px;
    font-weight: 500;
    font-size: 50px;
}