.sidebarcontainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 350px;
  background-color: #181a26;
  height: 100%;
  color: rgb(233, 228, 228);
}

.top {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(141, 139, 139, 0.174);
  -webkit-box-shadow: 15px 30px 55px -21px rgba(121, 118, 118, 0.122);
  -moz-box-shadow: 15px 30px 55px -21px rgba(121, 118, 118, 0.132);
  box-shadow: 15px 30px 55px -21px rgba(121, 118, 118, 0.108);
}

.logo img {
  width: 250px;
}

.logo {
 
  margin-left: 50px;
}

/* Center SIDEBAR */

.center {
  flex: 6;

  display: flex;
  justify-content: center;
  align-items: center;
}

.containersidebarcenter {
  width: 60%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.ulsidebarmenu {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.center ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px 30px;

  cursor: pointer;
}

.center ul li ion-icon {
  margin-right: 20px;
}

.active {
  border-radius: 15px;
  background: #cf4784;
  background: -webkit-linear-gradient(110deg, #cf4784 0%, #f95651 100%);
  background: linear-gradient(110deg, #cf4784 0%, #f95651 100%);
}

/* Center SIDEBAR */

.bottom {
  flex: 1;
}

.nameGame{
  display: flex;
  gap: 10px;
  border-radius: 15px;
  align-items: center;
  padding: 30px;

}

.descGame{
  display: flex;
  gap: 10px;
  border-radius: 15px;
  align-items: center;
  padding: 30px;

}

.platformsGame{
  display: flex;
  gap: 10px;
  border-radius: 15px;
  align-items: center;
  padding: 30px;

}
.imageGame{
  display: flex;
  gap: 10px;
  border-radius: 15px;
  align-items: center;
  padding: 30px;

}

.releaseGame{
  display: flex;
  gap: 10px;
  border-radius: 15px;
  padding: 30px;
  align-items: center;

}
.ratingGame{
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;

  padding: 30px;
 
}

.left{
display: flex;
justify-content: center;
align-items: center;
  flex: 1;
  
}

.right{
  background: #525151cc;
 border-radius: 15px;
  flex: 3;
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: auto;
}
.right h2{
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}

.right form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 700px;
  
}
.right button{
  padding: 15px;
  border-radius: 10%;
  border: none;
  color: white;
  background: #cf4784;
  background: -webkit-linear-gradient(110deg, #cf4784 0%, #f95651 100%);
  background: linear-gradient(110deg, #cf4784 0%, #f95651 100%);
  margin-bottom: 30px;
  cursor: pointer;
}


#name,
#released,
#rating,
#genreviews,
#background_image{
  border: none;
  background-color: rgba(128, 128, 128, 0.363);
  border-bottom: 1px solid rgb(196, 196, 196);
  width: 300px;
  height: 30px;
  color: white;
}

#name,
#released,
#rating,
#background_image ::placeholder{
  color: white;
}

#description_raw{
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
  background-color: rgba(128, 128, 128, 0.363);
  width: 300px;
  height:100px;
  color: white;
}

#description_raw::placeholder{
  color: white;
}

.platformsGame{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
}
.plataformaflex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.plataformaflexCheks{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.plataformaSelected{
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(224, 217, 217);
  color: black;
  font-weight: 600;
  border-radius: 15%;
}
.plataformaSelectedflex{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 300px;
  height: 300px;
}
.titleplataforms{
  margin-top: 20px;
}

.isDanger{
  color: red;
}
.isSucces{
  color: green;
}

.rowgenres{
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 10px;
}
.rowplataforma{
  width: 40px;
  height: 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}